{% extends "base.html" %}

{% block content %}  
<p>This will come out at 8am every day when it has contents.</p>

{% if messages %}
<ul class="c-messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}

<form class="c-form" action="?add=1" method="POST">
  <p>Add a new RSS feed.</p>
  {{ add_form.as_p }}
  <input type="submit" name="Save">
  {% csrf_token %}
</form>

<ul class="c-sources">
  {% for source in sources %}
  <li class="c-source">
      <span class="title">
        {{ source }}
        <a class="source-action" href="{{ source.url }}" target="_blank">[Preview]</a>
        <a class="source-action js-source-edit" href="#" data-edit="{{ source.id }}">[Edit]</a>
      </span>

      <form class="c-form {% if not form.errors %} is-hidden{% endif %}" action="?update={{ source.id }}" method="POST" data-form="{{ source.id }}">
        {{ source.form.as_p }}
        {% csrf_token %}
        <input type="submit" name="Save">
      </form>
  </li>
  {% endfor %}
</ul>

<p><a href="{% url 'logout' %}">Logout</a></p>


<script type="text/javascript">
  document.addEventListener("click", function(e){
    if (e.target.classList.contains("js-source-edit")) {
      e.preventDefault();
      let id = e.target.getAttribute("data-edit");
      let form = document.querySelector(`[data-form="${ id }"]`);
      form.classList.toggle("is-hidden");
    }
  })
</script>
{% endblock content %}
