[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
"psycopg2" = "==2.7.3"
feedparser = "==5.2.1"
gunicorn = "==19.7.1"
raven = "==6.1.0"
Django = "==1.11.5"
requests = "*"

[dev-packages]
"fabric3" = "*"

[requires]
python_version = "3.6"
